receivers:
  upcloud:
    collection_interval: 60s
    initial_delay: 2s
    api:
      endpoint: https://api.upcloud.com
      token: ${env:UPCLOUD_API_TOKEN}
      # token_file: /var/run/secrets/upcloud/token
      # username: ${env:UPCLOUD_USERNAME}
      # password: ${env:UPCLOUD_PASSWORD}
      # password_file: /var/run/secrets/upcloud/password
      timeout: 10s
    managed_databases:
      enabled: true
      uuids:
        - 00000000-0000-0000-0000-000000000000
      period: 5m
    managed_load_balancers:
      enabled: true
      uuids:
        - 00000000-0000-0000-0000-000000000001
      period: 5m
      metrics_path_template: /1.3/load-balancer/{uuid}/metrics

processors:
  batch: {}

exporters:
  debug:
    verbosity: detailed

service:
  pipelines:
    metrics:
      receivers: [upcloud]
      processors: [batch]
      exporters: [debug]
